@model IEnumerable<lesson5.Models.posts>

@{
    ViewData["Title"]= "Arefs home";
}
<div class="table-responsive-md">
    <table class="table" style="width:90%">
        <tr>

            <th class="col">thambnail</th>
            <th class="col">post Title</th>
            <th class="col">Description</th>
            <th class="col">document price</th>
            <th class="col">After off</th>
            
            
        </tr>
    @foreach(var item in Model){
        <tr>@{
                var a = (item.documentPrice)-((item.off*item.documentPrice)/100);
                decimal originalPrice = item.documentPrice; // قیمت اصلی
                decimal discount = (originalPrice * item.off)/100; // مقدار تخفیف (5 درصد از قیمت)
                 decimal finalPrice = originalPrice - discount; // قیمت نهایی (با احتساب تخفیف)
                }
            <td><img src="@item.ImagePath" width="50px" alt="@item.Name"></td>
            <td><h1>@item.Name</h1></td>
            <td><p>@item.Description</p></td>
            <td><p>@finalPrice</p></td>
            <td><p>@item.off</p></td>
            
        </tr>
        }
    </table>
</div>
<form asp-action="insertPosts" asp-controller="Home" method="post" enctype="multipart/form-data">
<div class="form-group">
    <label for="posttitle">post title</label>
    <input type="text" class="form-control" id="Name" name="Name" aria-describedby="emailHelp" placeholder="Enter post title">
    <small id="emailHelp" class="form-text text-muted">عنوان پست را وارد کنید.</small>
  </div>
  <div class="form-group">
    <label for="post_description">post description</label>
    <input type="text" class="form-control" name="Description" id="post_description" placeholder="description">
  </div>
   <div class="form-group">
    <label for="post_description">post description</label>
    <input type="number" class="form-control" name="documentPrice" id="post_description" placeholder="description">
    <input type="number" class="form-control" name="off" id="post_description" placeholder="description">
  </div>

 <input type="file" name="Image" id="post_thambnail">
  <input type="submit" class="btn btn-primary" value="submit">

    
   
</form> 

