@{
    ViewData["Title"] = "Home Page";
}

<table dir="rtl">
    <tr>
        <th>کد </th>
        <th>نام </th>
        <th> موجودی</th>
        <th> تعداد کاربر های دعوت شده</th>
        <th>کاربر VIP </th>
        <th>جنسیت</th>
    </tr>
    @{
        foreach(var item in Model)
        {
            <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Coin</td>
            <td>@item.InvitedUser</td>
            <td>@item.Category</td>
            <td>@item.userIsVIP</td>
            <td>@item.gender</td>
            </tr>
        }
    }
      <tr>
    <td colspan="6"> تعداد کل مرد ها:</td>
	<td>@ViewBag.Count</td>
  </tr>
</table>